@function vw($px) {
  @return ($px/750)*100vw;
}
// 头部
.headWarp{
    overflow: hidden;
    .head{
        width: 100%;
        height: vw(88);
        line-height: vw(88);
        position: fixed;
        top: 0;
        left: 0;
        background:  #ff464e;
        color: white;
        text-align: center;
        h1{
            width: 76%;
            float: left;
            color: white;
            font-size: vw(34);
        }
        .headLeft{
            width: 12%;
            height: 100%;
            float: left;
        }
        .headRight{
            height: 100%;
            width: 12%;
            float: right;
        }
    }
}
// 导航
.alltopWarp{
    margin-top: vw(88);
    height: vw(88);
    width: 100%;
    text-align: center;
    font-size: vw(32);
    background: rgba(236, 243, 243, 0.5);
    .alltop{
      width: 20%;
      float: left;
      .alla{
        color: #888888;
        line-height: vw(88);
        
      }
      
    }
  
    .footpic{
      float: right;
    }
  }

// 内容
.contentbox{
    width: 100%;
    height: vw(1200);
    background: white;
    overflow: auto;
    .goodsitem{
      width:45%;
      height: vw(508);
      margin-left: vw(22);
      border: 1px solid #ddd; 
      margin-bottom: vw(20);
      float: left;
    .goodsa{
      display: block;
      .goodspic{
        display: block;
        .list2img{
          width: vw(320);
          height:vw(340) ; 
          width: 100%;
        }
      }
      dl{
        // width: 1.73rem;
        height: vw(126);
        margin-top: vw(20);
        dt{
          // width: 1.67rem;
          height: vw(97.6);
          .goodtitle{
          font-size: vw(24);
          height: vw(48);
          line-height:vw(48);
          color: black;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: normal;
          width: 100%;
          display: block;
          overflow: hidden;
          }
        }
        .goods-sale{
          .goods-price{
          color: #ec5464;
          display: block;
          float: left;
          font-size: vw(28);
          line-height: vw(28);
          em{
            display: inline-block;
            vertical-align: top;
            font-style: normal;
          }
          }
        }
        .goods-assist{
          display: block;
          overflow: hidden;
          .goods-sold{
            color: #999;
            display: block;
            float: right;
            font-size: vw(24);
            line-height: vw(28);
            padding-bottom: vw(20);
          }
        }
      }
    }
    
  }
  .list2bottom{
    height:vw(200);
    background:white;
    line-height: vw(200);
    font-size: vw(24);
    text-align: center;
    clear: both;
    margin-bottom: vw(100);
    }
   .footpic{
     float: right;
    
   }
  }