li, ul, dl, dd, dt {
  list-style: none;
}

html {
  font-size: 100px;
}

.headWarp {
  overflow: hidden;
}

.headWarp .head {
  width: 100%;
  height: 0.44rem;
  line-height: 0.44rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #ff464e;
  color: white;
  text-align: center;
}

.headWarp .head h1 {
  width: 76%;
  float: left;
  color: white;
  font-size: 0.17rem;
}

.headWarp .head .headLeft {
  width: 12%;
  height: 100%;
  float: left;
}

.headWarp .head .headRight {
  height: 100%;
  width: 12%;
  float: right;
}

.alltopWarp {
  margin-top: 0.44rem;
  height: 0.44rem;
  width: 100%;
  text-align: center;
  font-size: 0.16rem;
  background: rgba(236, 243, 243, 0.5);
}

.alltopWarp .alltop {
  width: 20%;
  float: left;
}

.alltopWarp .alltop .alla {
  color: #888888;
  line-height: 0.44rem;
}

.alltopWarp .footpic {
  float: right;
}

.contentbox {
  width: 100%;
  height: 6rem;
  background: white;
  overflow: auto;
}

.contentbox .goodsitem {
  width: 45%;
  height: 2.54rem;
  margin-left: 0.11rem;
  border: 1px solid #ddd;
  margin-bottom: 0.1rem;
  float: left;
}

.contentbox .goodsitem .goodsa {
  display: block;
}

.contentbox .goodsitem .goodsa .goodspic {
  display: block;
}

.contentbox .goodsitem .goodsa .goodspic .list2img {
  width: 1.6rem;
  height: 1.7rem;
  width: 100%;
}

.contentbox .goodsitem .goodsa dl {
  height: 0.63rem;
  margin-top: 0.1rem;
}

.contentbox .goodsitem .goodsa dl dt {
  height: 0.488rem;
}

.contentbox .goodsitem .goodsa dl dt .goodtitle {
  font-size: 0.12rem;
  height: 0.24rem;
  line-height: 0.24rem;
  color: black;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  width: 100%;
  display: block;
  overflow: hidden;
}

.contentbox .goodsitem .goodsa dl .goods-sale .goods-price {
  color: #ec5464;
  display: block;
  float: left;
  font-size: 0.14rem;
  line-height: 0.14rem;
}

.contentbox .goodsitem .goodsa dl .goods-sale .goods-price em {
  display: inline-block;
  vertical-align: top;
  font-style: normal;
}

.contentbox .goodsitem .goodsa dl .goods-assist {
  display: block;
  overflow: hidden;
}

.contentbox .goodsitem .goodsa dl .goods-assist .goods-sold {
  color: #999;
  display: block;
  float: right;
  font-size: 0.12rem;
  line-height: 0.14rem;
  padding-bottom: 0.10rem;
}

.contentbox .list2bottom {
  height: 1rem;
  background: white;
  line-height: 1rem;
  font-size: 0.12rem;
  text-align: center;
  clear: both;
  margin-bottom: 0.5rem;
}

.contentbox .footpic {
  float: right;
}
