.headWarp {
  overflow: hidden;
}

.headWarp .head {
  width: 100%;
  height: 11.73333vw;
  line-height: 11.73333vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #ff464e;
  color: white;
  text-align: center;
}

.headWarp .head h1 {
  width: 76%;
  float: left;
  color: white;
  font-size: 4.53333vw;
}

.headWarp .head .headLeft {
  width: 12%;
  height: 100%;
  float: left;
}

.headWarp .head .headRight {
  height: 100%;
  width: 12%;
  float: right;
}

.alltopWarp {
  margin-top: 11.73333vw;
  height: 11.73333vw;
  width: 100%;
  text-align: center;
  font-size: 4.26667vw;
  background: rgba(236, 243, 243, 0.5);
}

.alltopWarp .alltop {
  width: 20%;
  float: left;
}

.alltopWarp .alltop .alla {
  color: #888888;
  line-height: 11.73333vw;
}

.alltopWarp .footpic {
  float: right;
}

.contentbox {
  width: 100%;
  height: 160vw;
  background: white;
  overflow: auto;
}

.contentbox .goodsitem {
  width: 45%;
  height: 67.73333vw;
  margin-left: 2.93333vw;
  border: 1px solid #ddd;
  margin-bottom: 2.66667vw;
  float: left;
}

.contentbox .goodsitem .goodsa {
  display: block;
}

.contentbox .goodsitem .goodsa .goodspic {
  display: block;
}

.contentbox .goodsitem .goodsa .goodspic .list2img {
  width: 42.66667vw;
  height: 45.33333vw;
  width: 100%;
}

.contentbox .goodsitem .goodsa dl {
  height: 16.8vw;
  margin-top: 2.66667vw;
}

.contentbox .goodsitem .goodsa dl dt {
  height: 13.01333vw;
}

.contentbox .goodsitem .goodsa dl dt .goodtitle {
  font-size: 3.2vw;
  height: 6.4vw;
  line-height: 6.4vw;
  color: black;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  width: 100%;
  display: block;
  overflow: hidden;
}

.contentbox .goodsitem .goodsa dl .goods-sale .goods-price {
  color: #ec5464;
  display: block;
  float: left;
  font-size: 3.73333vw;
  line-height: 3.73333vw;
}

.contentbox .goodsitem .goodsa dl .goods-sale .goods-price em {
  display: inline-block;
  vertical-align: top;
  font-style: normal;
}

.contentbox .goodsitem .goodsa dl .goods-assist {
  display: block;
  overflow: hidden;
}

.contentbox .goodsitem .goodsa dl .goods-assist .goods-sold {
  color: #999;
  display: block;
  float: right;
  font-size: 3.2vw;
  line-height: 3.73333vw;
  padding-bottom: 2.66667vw;
}

.contentbox .list2bottom {
  height: 26.66667vw;
  background: white;
  line-height: 26.66667vw;
  font-size: 3.2vw;
  text-align: center;
  clear: both;
  margin-bottom: 13.33333vw;
}

.contentbox .footpic {
  float: right;
}
