li, ul, dl, dd, dt {
  list-style: none;
}

.headWarp {
  overflow: hidden;
}

.headWarp .head {
  width: 100%;
  height: 11.73333vw;
  line-height: 11.73333vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #ff464e;
  color: white;
  text-align: center;
}

.headWarp .head h1 {
  width: 76%;
  float: left;
  color: white;
  font-size: 4.53333vw;
}

.headWarp .head .headLeft {
  width: 12%;
  height: 100%;
  float: left;
}

.headWarp .head .headRight {
  height: 100%;
  width: 12%;
  float: right;
}

.detailWarp .detCont {
  font-size: 4.26667vw;
  width: 100vw;
  height: 21.68vw;
  border-bottom: 1px #cccccc solid;
  text-align: left;
}

.detailWarp .detCont .detitleA {
  height: 5.54667vw;
  text-indent: 2.93333vw;
  color: black;
}

.detailWarp .detCont .deprice {
  color: red;
  font-weight: bold;
  margin-top: 2vw;
  text-indent: 2.93333vw;
}

.detailWarp .detCont .dedesWarp {
  height: 4vw;
  font-size: 3.73333vw;
  margin-top: 2vw;
  color: black;
}

.detailWarp .detCont .dedesWarp .denum {
  text-indent: 2.93333vw;
  width: 50%;
  float: left;
}

.detailWarp .detCont .dedesWarp .dedes {
  width: 50%;
  float: left;
}

.detailWarp .detcopmu {
  width: 100vw;
  height: 12.8vw;
  border-bottom: 1px #cccccc solid;
}

.detailWarp .detcopmu #btns {
  text-align: left;
  font-size: 3.73333vw;
  display: block;
  line-height: 12.8vw;
  height: 12.8vw;
  margin-left: 11px;
}

.detailWarp .detpicWarp {
  overflow: auto;
  width: 100%;
}

.detailWarp .detpicWarp .detpic {
  width: 100%;
}

.detailBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 13.44vw;
  background: #efeff4;
  z-index: 9999;
  text-align: center;
}

.detailBottom span {
  width: 25%;
  height: 100%;
  float: left;
  line-height: 13.44vw;
}

.detailBottom span a {
  font-size: 12px;
  color: black;
}

.detailBottom .service {
  font-size: 20px;
}

.detailBottom .tel {
  font-size: 20px;
}

.detailBottom .toCart {
  background: #FFA747;
  color: white;
}

.detailBottom .buy {
  background: #FF6600;
  color: white;
}
