.headWarp {
  overflow: hidden;
}

.headWarp .head {
  width: 100%;
  height: 11.73333vw;
  line-height: 11.73333vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #ff464e;
  color: white;
  text-align: center;
}

.headWarp .head h1 {
  width: 76%;
  float: left;
  color: white;
  font-size: 4.53333vw;
}

.headWarp .head .headLeft {
  width: 12%;
  height: 100%;
  float: left;
}

.headWarp .head .headRight {
  height: 100%;
  width: 12%;
  float: right;
}

.contex {
  width: 100%;
  padding-bottom: 32vw;
  margin-top: 11.73333vw;
  background: #efeff4;
  height: 177.86667vw;
  overflow: hidden;
}

.contex #login-form {
  width: 100%;
  height: 21.33333vw;
  margin-top: 5.33333vw;
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
  background-color: white;
}

.contex #login-form #one {
  border-bottom: 1px solid #c8c7cc;
}

.contex #login-form .mui-input-row {
  height: 10.66667vw;
}

.contex #login-form .mui-input-row label {
  width: 30%;
  padding: 2.93333vw 4vw;
  line-height: 10.66667vw;
  color: black;
}

.contex #login-form .mui-input-row input {
  width: 70%;
  padding: 0.66667vw 4vw 0.66667vw 4vw;
  margin-bottom: 5px;
}

.contex .check {
  height: 10.66667vw;
}

.contex .check span {
  display: block;
  margin-top: 2.66667vw;
  color: black;
  line-height: 10.66667vw;
  height: 10.13333vw;
  width: 45%;
  background: white;
  border: 1px solid #c8c7cc;
  text-align: center;
}

.contex .check .left {
  float: left;
  margin-left: 1.33333vw;
}

.contex .check .right {
  float: right;
  margin-right: 1.33333vw;
}

.contex .mui-content-padded {
  margin: 6.66667vw 2.66667vw 2.66667vw;
}

.contex .mui-content-padded button {
  color: #fff;
  border: 1px solid #dd524d;
  background-color: #FF9900;
  padding: 1.33333vw 3.2vw;
  width: 100%;
  font-size: 4.8vw;
  font-weight: 400;
}

.contex .mui-content-padded .link-area {
  margin-top: 6.66667vw;
  text-align: center;
}

.contex .mui-content-padded .link-area a {
  color: #666666;
  font-size: 3.2vw;
}

.contex .mui-content-padded .link-area span {
  padding: 0 2.13333vw;
}
